<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<h1>Admin Dashboard</h1>
<ul>
    <li><a href="/accounts">Manage Accounts</a></li>
    <li><a href="/customers">Manage Customers</a></li>
    <li><a href="/branches">Manage Branches</a></li>
    <li><a href="/transactions">Manage Transactions</a></li>
</ul>
<a href="/admin/new">Create New Admin</a>
</body>
</html>
